# App
APP_NAME=Rokomari Product Pipeline
APP_VERSION=1.0.0
DEBUG=False

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secured_password
DB_NAME=rokomari_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Vendors
VENDOR_A_URL=http://vendor-a:8001
VENDOR_B_URL=http://vendor-b:8002
VENDOR_C_URL=http://vendor-c:8003
VENDOR_D_URL=http://vendor-d:8004


